[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter_client = "*"
nbconvert = "*"
nbformat = "*"
nbexec = {path = "."}

[dev-packages]
nose = "*"
ipykernel = "*"

[requires]
python_version = "3.9"
